body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color, color 0.5s ease-in-out;
}

* {
    box-sizing: inherit;
}

.footer-container {
    height: 13vh;
    /* background: linear-gradient(to bottom, #000000, #2d0000); */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin: auto;
}

.footer-copyright {
    font-size: 1.3rem;
}

.footer-copyright-2023 {
    color: #786b6b;
}

.footer-copyright-icon {
    color: #433d3d;
}

.footer-logo img {
    width: 3.5rem;
    border-radius: 50%;
}

.footer-social-media {
    display: flex;
    flex-direction: row;
    width: 52%;
    font-size: 1.3rem;
    justify-content: space-between;
}

.fa-clipboard {
    color: white;
}

.footer-logo {
    width: 100%;
    text-align: center;
}

/* For making it responsive  */
@media only screen and (max-width: 906px) {
    .footer-container {
        padding: 1px 0px 1px 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 15vh;
    }

    .footer-logo {
        width: fit-content;
        justify-self: end;
        margin-right: 10px;
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: start;
        margin-left: 4.5rem;
    }

    .footer-copyright {
        justify-self: start;
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: end;
        margin-right: 4.5rem;
    }

    .footer-social-media {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: start;
        margin-top: 1.2em;
    }

}

.footer-social-media a {
    text-decoration: none;
}

.fa-facebook:hover{
    color: #1877f2;
}

.fa-instagram:hover{
    color: purple;
}
.fa-linkedin:hover{
    color: #0e76a8;
}
.fa-x-twitter:hover{
    color: #1da1f2;
}

.footer-container{
    margin-top: auto;
}